.add-div {
  display: flex;
}

.el-formo {
  flex-direction: column;
  width: 50vw;
  align-items: center;
  margin-top: 50px;
}

.input-title {
  margin-top: 40px;
}

.input-title,
.input-content,
.input-author,
.input-image {
  padding: 10px;
  margin: 20px 0;
  border: solid 1px #8367c7;
  font-size: 30px;
  width: 100%;
  border-radius: 15px;
}

.submit-button {
  color: white;
  width: 60%;
  margin: 0 auto;
  background-color: #8367c7;
  padding: 15px 5px;
  margin: 20px 0;
  border: solid 1px #707070;
  font-size: 30px;
  border-radius: 15px;
}
